\#backups
\#config

options/extensions
options/linux
options/mac

datafiles/data/BBMOD
scripts/BBMOD*
scripts/bbmod*
scripts/__bbmod*

shaders/BBMOD*
shaders/__BBMOD*

sprites/BBMOD*

*.DS_Store
fonts/_f_sdf/_f_sdf.yy
fonts/_f_sdf_medium/_f_sdf_medium.yy

scripts/__KEYS_PRIVATE/__KEYS_PRIVATE.gml
objects/o_dialog_patreon/*

build
gmedit

*.zip

!*.yy