\#backups
\#config

extensions
options
options/extensions
options/mac

datafiles/data/BBMOD
scripts/BBMOD*
scripts/bbmod*
scripts/__bbmod*

shaders/BBMOD*
shaders/__BBMOD*

sprites/BBMOD*

*.DS_Store
fonts/_f_sdf/_f_sdf.yy
fonts/_f_sdf_medium/_f_sdf_medium.yy

__KEYS_PRIVATE
scripts/panel_patreon/panel_patreon.gml
objects/o_dialog_patreon/o_dialog_patreon.yy
