img.node-content {
    width: min(100%, calc(100% - 280px));
    /* max-width: fit-content; */

    @media (max-width: 800px) {
        margin: 0px;
    }
}

img.node-graph-preview {
    width: 40%;
}

p:has(img.node-content) {
    text-align: center;
}


button.copy-sample {
    margin: 0;
    padding: 8px 16px;

    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: .8rem;
    color: var(--main_white);
    background-color: var(--main_black);
    border: 1px solid var(--main_dkgrey);
    border-radius: 5px;

    display: block;
    margin: auto;
    margin-top: 8px;

    &:hover {
        /* background-color: var(--main_dkgrey); */
        border-color: var(--main_grey);
    }

    &:active {
        background-color: var(--main_dkblack);
    }
}
