*
!*/

!.gitignore
!*.yy

!buffer2string/*
!clipboard/*
!delaunayC/*
!discordBridge/*
!display_measure/*
!display_screenshot/*
!file_dropper/*
!FileDropper/*
!FirebaseSetup/*
!FLIP/*
!gmlBox2D/*
!GMSSimpleMIDI/*
!libborderless/*
!libdlgmodule/*
!libfilesystem/*
!libsysinfo/*
!libxprocess/*
!macMinimize/*
!mk_grass_ext/*
!path_from_mask/*
!poissonC/*
!Regex/*
!Spout/*
!Steamworks/*
!surface_manager/*
!TabletStuff/*
!YYFirebaseFirestore/*